* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  margin-top: 7vh;
  max-width: 450px;
  width: 100%;
  height: 275px;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.welcome {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.registration {
  width: 350px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(219, 155, 103);
}

.authorization {
  width: 350px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(219, 155, 103);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.none {
  display: none !important;
}

.creareAcc {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 19px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

input {
  width: 350px;
  height: 35px;
  border-radius: 7px;
  border: none;
  outline: none;
  padding-left: 20px;
}

input:focus::placeholder {
  color: white;
}

.registr {
  width: 350px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.autorizeButton {
  width: 350px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.checkRegistr {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.wrongData {
  height: 10px;
}

.wrongDataText {
  font-size: 10px;
  color: red;
}

.wrongDataTextAut {
  font-size: 10px;
  color: red;
}

.autorizData {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.regAutorize {
  width: 350px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.registrAutorize {
  width: 350px;
  height: 30px;
  border-radius: 7px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
